DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=liftlog
DATABASE_PASSWORD=liftlog_password
DATABASE_NAME=liftlog_db
JWT_ACCESS_SECRET=your_access_secret_here
JWT_ACCESS_EXPIRES_IN=8h
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=7d
PORT=3000
PGADMIN_EMAIL=admin@liftlog.local
PGADMIN_PASSWORD=admin_password
